<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <main>

        <div class="container">

      <li>
        <i class="fas fa-book-open"><%= link_to "Bookers", root_path %></i>
      </li>
      <ul class="collapse navbar-collapse">
     <% if user_signed_in? %>

      <li class=Home>
        <i class="fas fa-home"><%= link_to "Home",user_path(@user.id) %></i>
      </li>

     <li class=user>
      <i class="fas fa-users"><%= link_to 'Users', users_path %></i>
      </li>

       <li class=Books>
      <i class="fas fa-book-open"><%= link_to 'Books', books_path %></i>
      </li>

      <li class=logout>
        <i class="fas fa-sign-out-alt"><%= link_to "logout", destroy_user_session_path, method: :delete %></i>
      </li>

    <% else %>

     <li class=Home>
        <i class="fas fa-home"><%= link_to "Home",root_path %></i>
      </li>

      <li class=about>
       <i class="fas fa-link"> <%= link_to "about", home_about_path %></i>
      </li>


      <li calss=signup>
        <i class="fas fa-user-plus"><%= link_to "sign up", new_user_registration_path %></i>
      </li>

      <li class=login>
        <i class="fas fa-sign-in-alt"><%= link_to "login", new_user_session_path %></i>
      </li>

   <% end %>
    </ul>
    </div>
    </nav>
    </header>
    </main>
    <%= notice %>
    <%= yield %>

<div class="container mt-5">
  <div class="row">
  <div class="mx-auto">
  <footer>CopyRight Infratop.inc</footer>
  </div>
  </div>

  </body>
</html>
